* {
    text-align: center;
    padding: 5px;
}

.checkbox {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

button {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.classic_pack {
  background: gray;
}

.perguntas_pack {
  background: blue;
}

.wtf_pack {
  background: lime;
}
.novatos_pack {
  background: purple;
}
.votacao_pack {
  background: gold;
}

.sexy_pack {
  background: red;
}

.flex {
    display: flex;
    flex: 1;
  }
.wrap {
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.items-start {
  align-items: start;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}